@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html, body {
    @apply m-0 p-0;
  }

  *, *::before, *::after {
    @apply box-border;
  }
}

html, body {
  @apply overflow-x-hidden m-0;
  // background: linear-gradient(211deg, #2D2B54 20.67%, #070709 83.27%);
  // background: #19191f;
  // background: linear-gradient(158deg,rgba(25, 25, 31, 1) 0%, rgba(5, 5, 41, 1) 100%);
  background-image:linear-gradient(45deg,rgba(107, 222, 251, 0.19),2px,transparent 2px),linear-gradient(to bottom right,#121e36,rgb(0, 0, 0));

    background-size:100px 100px,100% , 20px 20px, 100%;
    background-position:left top,top right;
    background-repeat:  repeat,no-repeat;
    background-attachment: fixed;

    font-family: "Righteous", serif;
    font-weight: 300;
    font-style: normal;
    @apply text-gray-300
}

html, body { 
  @apply overflow-visible m-0 p-0;
 }
#__nuxt, #__layout { overflow: visible; }